@media (max-width: 900px) {

    body {
        padding-top: 200px;
    }

    #nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .music-grid {
        grid-template-columns: 1fr;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }
}
